#ifndef SHUTTLESOCK_BUILD_CONFIG_H
#define SHUTTLESOCK_BUILD_CONFIG_H

#define SHUTTLESOCK_MAX_WORKERS 1024
#define SHUTTLESOCK_CONFIG_DEFAULT_IPC_SEND_RETRY_DELAY  0.050
#define SHUTTLESOCK_CONFIG_DEFAULT_IPC_SEND_TIMEOUT 0.500
#define SHUTTLESOCK_CONFIG_DEFAULT_SOCKET_RECEIVE_TIMEOUT 2.000

#define SHUTTLESOCK_WATCHED_SIGNALS  {SIGTERM, SIGINT, SIGQUIT, SIGHUP, SIGCONT, SIGUSR1, SIGUSR2, SIGWINCH}

#cmakedefine SHUTTLESOCK_DEBUG_NO_WORKER_THREADS

#cmakedefine SHUTTLESOCK_DEBUG
#cmakedefine SHUTTLESOCK_DEBUG_MODULE_SYSTEM
#cmakedefine SHUTTLESOCK_BIG_ENDIAN
#cmakedefine SHUTTLESOCK_HAVE_EVENTFD
#cmakedefine SHUTTLESOCK_USE_EVENTFD
#define SHUTTLESOCK_PTHREAD_SETNAME_STYLE_${SHUTTLESOCK_PTHREAD_SETNAME_STYLE}
#cmakedefine SHUTTLESOCK_PTHREAD_SETNAME_INCLUDE_PTRHEAD_NP
#cmakedefine SHUTTLESOCK_STALLOC_TRACK_SPACE
#cmakedefine SHUTTLESOCK_VALGRIND
#cmakedefine SHUTTLESOCK_SANITIZE
#cmakedefine SHUTTLESOCK_HAVE_TYPEOF
#cmakedefine SHUTTLESOCK_USE_IO_URING
#define SHUTTLESOCK_PTR_SIZE ${CMAKE_SIZEOF_VOID_P}
#define SHUTTLESOCK_DEFAULT_LOGLEVEL SHUSO_LOG_${SHUTTLESOCK_DEFAULT_LOGLEVEL}
#endif //SHUTTLESOCK_BUILD_CONFIG_H
