#ifndef SHUTTLESOCK_BUILD_CONFIG_H
#define SHUTTLESOCK_BUILD_CONFIG_H

#define SHUTTLESOCK_VERSION_STRING "${shuttlesock_VERSION}"
#define SHUTTLESOCK_VERSION ${shuttlesock_VERSION_PADDED}
#define SHUTTLESOCK_VERSION_MAJOR ${shuttlesock_VERSION_MAJOR}
#define SHUTTLESOCK_VERSION_MINOR ${shuttlesock_VERSION_MINOR}
#define SHUTTLESOCK_VERSION_PATCH ${shuttlesock_VERSION_PATCH}
#define SHUTTLESOCK_VERSION_TWEAK ${shuttlesock_VERSION_TWEAK}

#define SHUTTLESOCK_MAX_WORKERS ${SHUTTLESOCK_MAX_WORKERS}
#define SHUTTLESOCK_CONFIG_DEFAULT_IPC_SEND_RETRY_DELAY  0.050
#define SHUTTLESOCK_CONFIG_DEFAULT_IPC_SEND_TIMEOUT 0.500
#define SHUTTLESOCK_CONFIG_DEFAULT_SOCKET_RECEIVE_TIMEOUT 2.000

#define SHUTTLESOCK_WATCHED_SIGNALS  {SIGTERM, SIGINT, SIGQUIT, SIGHUP, SIGCONT, SIGUSR1, SIGUSR2, SIGWINCH}

#cmakedefine SHUTTLESOCK_LUA_SCRIPTS_COMPILED
#cmakedefine SHUTTLESOCK_LUA_PACKAGE_PATH "@SHUTTLESOCK_LUA_PACKAGE_PATH@"
#cmakedefine SHUTTLESOCK_LUA_PACKAGE_CPATH "@SHUTTLESOCK_LUA_PACKAGE_CPATH@"

#cmakedefine SHUTTLESOCK_DEBUG
#cmakedefine SHUTTLESOCK_DEBUG_IO
#cmakedefine SHUTTLESOCK_DEBUG_EVENTS
#cmakedefine SHUTTLESOCK_DEBUG_MODULE_SYSTEM
#cmakedefine SHUTTLESOCK_DEBUG_STALLOC_NOPOOL
#cmakedefine SHUTTLESOCK_DEBUG_NO_WORKER_THREADS
#cmakedefine SHUTTLESOCK_DEBUG_VALGRIND
#cmakedefine SHUTTLESOCK_DEBUG_SANITIZE
#cmakedefine SHUTTLESOCK_DEBUG_LUACOV

#cmakedefine SHUTTLESOCK_STALLOC_TRACK_SPACE

#cmakedefine SHUTTLESOCK_BIG_ENDIAN
#cmakedefine SHUTTLESOCK_HAVE_IPV6
#cmakedefine SHUTTLESOCK_HAVE_ACCEPT4
#cmakedefine SHUTTLESOCK_HAVE_STRSIGNAL
#cmakedefine SHUTTLESOCK_HAVE_EVENTFD
#define SHUTTLESOCK_PTHREAD_SETNAME_STYLE_${SHUTTLESOCK_PTHREAD_SETNAME_STYLE}
#cmakedefine SHUTTLESOCK_PTHREAD_SETNAME_INCLUDE_PTRHEAD_NP
#cmakedefine SHUTTLESOCK_HAVE_TYPEOF
#cmakedefine SHUTTLESOCK_HAVE_IO_URING
#define SHUTTLESOCK_PTR_SIZE ${CMAKE_SIZEOF_VOID_P}
#define SHUTTLESOCK_DEFAULT_LOGLEVEL SHUSO_LOG_${SHUTTLESOCK_DEFAULT_LOGLEVEL}
#endif //SHUTTLESOCK_BUILD_CONFIG_H
