#ifndef SHUTTLESOCK_CONFIG_H
#define SHUTTLESOCK_CONFIG_H

#cmakedefine SHUTTLESOCK_DEBUG
#cmakedefine SHUTTLESOCK_BIG_ENDIAN
#cmakedefine SHUTTLESOCK_HAVE_EVENTFD
#define SHUTTLESOCK_PTHREAD_SETNAME_STYLE_${SHUTTLESOCK_PTHREAD_SETNAME_STYLE}
#cmakedefine SHUTTLESOCK_PTHREAD_SETNAME_INCLUDE_PTRHEAD_NP

#endif //SHUTTLESOCK_CONFIG_H
