#ifndef __SHUTTLESOCK_CONFIG_H
#define __SHUTTLESOCK_CONFIG_H

#cmakedefine SHUTTLESOCK_DEBUG
#cmakedefine SHUTTLESOCK_BIG_ENDIAN
#cmakedefine SHUTTLESOCK_HAVE_EVENTFD
#cmakedefine SHUTTLESOCK_PTHREAD_SETNAME_STYLE SETNAME_STYLE_${SHUTTLESOCK_PTHREAD_SETNAME_STYLE}

#endif //__SHUTTLESOCK_CONFIG_H
